
 header{
    position: fixed;
    max-width: 100%;
    width: 100%;
    font-family:'sans-serif';
    padding: 15px 0px;
    background-color: #E7272D;
  }

  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
      font-family: sans-serif;
      font-weight: 600;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: auto;

      &-img{
        width: 60px;
        height: 60px;
      }

      &-text{
        color: white;
        font-size: 24px;
      }

    }

    &__list{
      width: 500px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      list-style-type: none;
    }
    
    &__item{
      padding: 20px;
      margin-left: 20px;
    }
    
    &__link{
      text-decoration: none;
      color: #E7272D;
      background-color: #fff;
      padding:  10px 15px;   
      border-radius: 10px;
      font-weight: 700;
    }

    &-label{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  .bars{
    display: none !important;
    font-size: 28px;
    color: white;
  }
  
  .xmark{
    visibility: hidden;
    display: none !important;
    font-size: 28px;
    color: white;
  }

  .checkbox{
    display: none;
  }

  @media screen and(max-width:992px) {
    
    .container{
      width: 98%;
      margin: 0 auto;
    }

    .nav{

      &-label{
        position: absolute;
        width: 92%;
      }

      &__link{
        display: inline-block;
        color: #fff;
        background-color: #E7272D ;
      }

      &__list{
        visibility: hidden;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 44px;
        display:  block;
        margin: 0 auto;
        background-color: #E7272D;
        &-item{
          margin: 15px 0px;
          font-size: 22px;
        }

      }

      .bars{
        position: absolute;
        display: flex !important;
        right: 0px;
      }
      
      .xmark{
        position: absolute;
        display: flex !important;
        right:  0;
      }
    
      .checkbox{
        display:flex ;
        visibility: hidden;
        position: absolute;
        right: 0px;
      }  
    }
  }

  input:checked ~ .bars{
    visibility: hidden;
  }

  input:checked ~ .xmark{
    visibility: visible;
  }

  input:checked ~ .nav__list{
    visibility: visible;
  }




